:root { 
  background-color: rgb(1, 125, 26);
  font-size: 20px;
  font-weight: bolder;
 }

img{
  padding: 0;
  margin: 0px 5px 0px 5px;
  height: 150px;
}

main {
  width: 1100px;
  height: 1000px;
  margin: 0 auto;
  left: 50%; 
  transform: translateX(0px);
}

p {
  background-color: white;
  margin: auto;
  border-style: solid;
  border-color: black;
  text-align: center;
}

#dealer,#table,#player{
  text-align: center;
}

#trump{
  margin-top: 20px;
  text-align: center;
}

#dealer{
  padding: 0;
  margin: 50px auto 0 auto;
  transform: translate(-50%, 0);
  left: 50%;
  position: absolute;
  display: flex; 
  justify-content: center;
}

#player{
  top: 200px;
  width: 650px;
  height: 150px;
  margin: 400px 0px 20px 0px;
  transform: translate(-50%, 0);
  left: 50%;
  position: absolute;
  display: flex; 
  justify-content: center;
}

#table{
  top: 200px;
  width: 650px;
  height: 150px;
  margin: 130px 0px 20px 0px;
  transform: translate(-50%, 0);
  left: 50%;
  position: absolute;
  display: flex; 
  justify-content: center;
  display: none;
}

#changeMessage{
  width: 600px; 
  position: absolute;
  display: none;
  top: 400px;
  left: 50%; /* 横方向の中央に配置 */
  transform: translateX(-50%);
}

#selectMessage {
  width: 300px;
}

#gameSelect{
  text-align: center;
  margin: 80px 10px 0px 10px;
  position: absolute;
  left: 50%; /* 横方向の中央に配置 */
  transform: translateX(-50%);
}

#fiveCardDraw{
  width: 250px;
  height: 40px;
  font-size: 20px;
  margin-top: 70px;
}

#texasHoldem{
  width: 250px;
  height: 40px;
  font-size: 20px;
  margin-top: 30px;
}

#gameEnd {
  width: 170px;
  height: 35px;
  font-size: 18px;
  margin-top: 50px;
  font-weight: bolder;
  right: 50%; 
  transform: translateX(-250px);
}

#topDisplay{
  display: flex;
}

#gameName{
  display: none;
  width: 230px;
  left: 50%; 
  transform: translateX(-300px);
  position: absolute;
}

#nowhand{
  width: 390px;
  background-color: white;
  position: absolute;
  top: 500px;
  /* top: 525px; */
/* 真ん中(left50%)から200px右 */
  left: 50%; 
  transform: translateX(240px);
  white-space: pre-wrap;
  display: none;
}

#ownBetMoney{
  width: 270px;
  display: none;
  background-color: white;
  border-style: solid;
  border-color: black;
  position: absolute;
/* 真ん中(left50%)から200px右 */
  left: 50%; 
  transform: translateX(200px);
  position: absolute;
}

#ownMoney{
  width: 200px;
  border-style: none;
  text-align: left;
  padding-left: 10px;
}

#planBetMoney{
  width: 200px;
  border-style: none;
  text-align: left;
  padding-left: 10px;
}

#allin{
  width: 130px;
  height: 30px;
  font-size: 17px;
  margin-left: 10px;
  position: relative; /* relativeを使う場合、topを調整する */
  top: 30px; /* 下方向に20pxずらします */
}

#betting {
  /* 以下topとleft(中央から340px右)で位置変更 */
  top: 600px;
  left: calc(50% + 340px);
  position: absolute; /* 位置固定、拡大縮小でも変わらない */
  text-align: center;
}

#betPrice{
  display: flex;
}

#oneThousand, #tenThousand{
  margin: 0px 6px 0px 6px;
}

#upLeft,#upRight{
  background-color: #ff9100;
  height: 40px;
  width: 40px;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  margin: 5px 10px 5px 11px;

}

#downLeft,#downRight{
  background-color: #00bbff;
  height: 40px;
  width: 40px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  margin: 5px 10px 5px 11px;
}

#betPrice{
  display: none;
}

#bet,#fold,#raise,#change,#allin{
  display: none;
  margin-top: 20px;

}

#bettingButton{
  text-align: center;
  width: 200px;
}

#bet{
  width: 80px;
  height: 30px;
  font-size: 17px;
  margin-left: 32px;
}

#fold{
  width: 120px;
  height: 30px;
  font-size: 17px;
  margin-left: 15px;
}

#raise{
  width: 80px;
  height: 30px;
  font-size: 17px;
  margin-left: 32px;
}


#change{
  width: 100px;
  height: 30px;
  font-size: 17px;
  margin-top: 70px;
  margin-left: 30px;
}

.border-active {
  border: 8px solid yellow;
}

#resultBet {
  top: 650px;
  left: calc(50% + 340px);
  position: absolute;
  text-align: center;
}

#win,#lose,#draw{
  width: 250px;
  height: 80px;
  font-size: 25px;
  font-weight: bolder;
  display: none;
}

#win{
  color: red;
}

#lose{
  color: blue;
}

#restart{
  display: none;
}

#gameEndResult,#restart{
  margin-top: 10px;
  display: none;
  width: 170px;
  height: 35px;
  font-size: 18px;
  font-weight: bolder;
}

#resultButton{
  margin-top: 550px;
  right: calc(50% + 360px);
  position: absolute;
  text-align: center;
}

#gameover{
  width: 1000px;
  height: auto;
  top: 150px;
  display: none;
  /* 画像の背後が見えるように透過 */
  opacity: 80%;
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

#goclose{
  margin-top: 560px;
  position: absolute;
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%); 
  font-size: 20px;
  height: 45px;
  width: 100px;
}

#playeryaku,#dealeryaku{
  display: none;
  width: 400px;
  height: 40px;
  font-size: 25px;
  position: absolute;
  text-align: center;
  left: 50%; /* 横方向の中央に配置 */
  transform: translateX(-50%);

  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#dealeryaku{
  top: 122px;
}

#playeryaku{
  top: 654px;
}

#yakuIcon,#ruleIcon{
  cursor: pointer;
  width:50px;
  height: 50px;
  margin: 0;
  padding: 0px 10px 0px 10px;
}

#yakuhelp,#rulehelp{
  margin: 0%;
}

#yaku,#rule{
  width: 900px;
  height: auto;
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%); 
}

#help {
  display: flex;
  justify-content: center;
  left: 50%; 
  transform: translateX(170px);
  position: absolute;
  top: 70px;
}

#text{
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin: 0px;
}

#m1,#m2,#m3,#m4,#m5{
  width: auto;
  height: 80px;
  position: absolute;
}

#m1{
  top: -30px;
  left: 50%;
  transform: translateX(220px); 
}

#m2{
  top: -30px;
  left: 50%;
  transform: translateX(110px); 
}

#m3{
  top: -30px;
  left: 50%;
  transform: translateX(-5px); 
}

#m4{
  top: -30px;
  left: 50%;
  transform: translateX(-125px); 
}

#m5{
  top: -30px;
  left: 50%;
  transform: translateX(-240px); 
}